/* Basic CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ff00c8;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #1100ff;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.swagcat{
    width: 70px;
}
.homeimg{
    width: 100px;
}
.serj {
    width: 300px;
}
.gerard{
    width: 300px;
}
.img2 {
    width: 200px;
}
nav {
    background: #09ff00;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background: #1100ff;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
